body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.terminal {
  color: white;
  font-family: monospace;
  width: 98vw;
  height: 96vh;
  overflow: auto;
}

.ascii-art {
  white-space: pre;
  font-size: 6px;
}
