body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.terminal {
  color: white;
  font-family: monospace;
  padding: 1rem;
}

.ascii-art {
  white-space: pre;
  font-size: 0.6em;
}
